.wrapper:nth-child(9) { margin-left: 15px;}

.line-bottom label{ background: #ffff47;}
.line-center label { background: #ff7519;}
.line-top label { background: #d11919;}

.price-list li:nth-child(1) button {
    background:  #ffff47;;
}


.price-list li:nth-child(2) button {
    background-color: #ff7519;
}

.price-list li:nth-child(3) button {
    background-color: #d11919;
}
.price-list li:nth-child(4) button {
    background-color: #0066ff;
    margin-top: 20px;
}


.wrapper:hover label {
    background: #99ccff;
}