section {
	position: relative;
	margin-top: 70px;
	padding-top: 50px;
}

p {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 0;
}
span {
	margin-left: 20px;
}

.hall {
	position: relative;
	height: 400px;
	width: 500px;
	padding: 10px 50px;
	margin: 0 auto;
}

.hall-name {
	position: absolute;
	top: 250px;
	left: 130px;
	font-weight: bold;
	font-size: 18px;
}

.price-list {
	position: absolute;
	top: 100px;
	left: 550px;
}
.price-list button {
	display: inline-block;
	margin-bottom: 5px;
	padding: 2px 3px;
}

.screen {
	height: 20px;
	width: 220px;
	background-color: #eee;
	margin: 20px 70px;
	text-align: center;
}

.line {
    width:420px;
	margin-bottom: 5px;
}
.line-bottom label{ background: #33CC33;}
.line-center label { background: #337AB7;}
.line-top label { background: #99CCFF;}
.line-love label { background: #ff99CC; }


.wrapper:nth-child(5) { margin-left: 15px;}

.line-love .wrapper:nth-child(1) { margin-left: 126px;}

.line-love .wrapper:nth-child(3) { margin-left: 28px; }

.line-love .wrapper:nth-child(5) { margin-left: 30px; }


 .price-list li:nth-child(1) button {
    background: #33CC33;
}


 .price-list li:nth-child(2) button {
	background-color: #99CCFF;
}

.price-list li:nth-child(4) button  {
	background-color: #FF99CC; 
}

.price-list li:nth-child(5) button  {
    margin-top: 20px;
    background-color: #ff1919;
}
.top-nav-collapse {
	background-color: #fff;
	opacity: .5;
  	height: 70px;
}

#footer {
	width: 100%;
	height: 50px;
	background-color: tomato;
	text-align: center;
	padding: 0px;
	margin-top: 120px;
}

footer p {
	margin-top: 15px;
	font-size: 16px;
	color: #fff;
}


input { cursor: pointer;}

input[type="submit"] {
    background-color: tomato;
    border: none;
    width: 60px;
    color: #fff;
    height: 30px;
    margin: 30px 150px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.6);

}

.wrapper {
    position: relative;
    width:25px;
    height: 25px;
    display: inline-block;
}

.checkbox {
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: 200;
    opacity: 0.25;
}
.wrapper:hover label {
    background: #FFFF00;
}

label {
    position: absolute;
    top: 3px;
    width: 20px;
    height: 20px;
    background: green;
}

@media screen and (max-width:890px) {
    .price-list {
        left: 450px;
    }
}

.chosen {
    background: #ff1919 !important;
}