body {
    background: linear-gradient(90deg, #e43a15 10%, #e65245 90%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    position: absolute;
    z-index: 200;
    color: #000;
    top:-10px;
    left: 20%;
    text-align: center;
    font-weight: bold;
    margin-left: 20px;
}
.btn-facebook, .btn-twitter {
    display: inline-block;
    margin-bottom: 20px;
}

.btn-facebook:hover {
    color: #fff;
}

.btn-twitter:hover {
    color: #fff;
}

.btn-facebook {
    float: left;
}

.btn-twitter {
    float: right;
}

.cloud,
.cloud:before,
.cloud:after {
    background: #f9f9f9;
    content: "";
    position: absolute;
}

.cloud {
    border-radius: 32px;
    height: 64px;
    width: 160px;
    top: 30px;
    left: 30%;
}

.page-header {
    border-bottom: none;
}

.content {
    border-top: 1px solid #eee;
    margin-top: 120px;
    padding-top: 30px;
}

#message {
    text-align: center;
}